$theme_color_dark: #636126;
$theme_color_mid: #A7AD3F;
$theme_color_light: #EAE9B9;
$Grayscale_dark: #4D4D4D;
$Grayscale_mid: #8B8B8B;
$Grayscale_light: #F1F1F1;
$bg_primary:lighten( $theme_color_light , 5%);
$bg_primary_light:lighten( $theme_color_light , 13.5%);
$bg_secondary: #BEBAAF;