nav{
    height: 600px;
    background-position: 40% -140px;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    @include md{
        height: 900px;
        background-position: center center;
    }
}

.nav_title{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    
    margin-top: 25px;
    margin-bottom: 60px;
    @include md{
        margin-top: 50px;
        margin-bottom: 120px;
    }
}

.nav_menu{
    display: none;
    justify-content: space-between;
    color: #222222;
    text-shadow: 1px 1px 8px rgb(80, 80, 79);
    
    margin-bottom: 250px;
    @include md{
        display: flex;
        width: 50%;
    }
    @include lg{
        width: 30%;
    }

    .nav_menu-item:hover{
        color: white;
    }
}
.nav_menuTrigger{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
    .lines{
        width: 40px;
        .line{
            height: 2px;
            background-color: #000;
            margin: 8px 0px;
        }
    }
    @include md{
        display: none;
    }
}

.nav_memo{
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 3px;
    text-align: center;
    text-transform:uppercase;
    @include md{
        font-size: 2.5rem;
        line-height: 3.25rem;
    }
}