@import "./var";
@import "./mixin";

*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    font-family: Microsoft JhengHei;
    background-color: $pink;
}
a{
    text-decoration: none;
    &:link{
        color: rgb(34, 33, 33);
    }
    &:visited{
        color: unset;
    }
}
.position-r{
    position: relative;
}
.fake-anchor{
    width: 10px;
    height: 50px;

    position: absolute;
    top: -49px;
    left: 0;
}

/* backtotop */
#backtoTop{
    width: 60px;
    height: 60px;
    background-color: rgb(252, 150, 167);
    color: white;

    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    box-shadow: -4px 7px 37px rgba(124, 72, 72, 0.75);
    
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;

    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    &:hover{
        width: 80px;
        height: 80px;
        background-color: #fff;
        color: rgba(255, 192, 203, 0.8);;
    
        font-size: 30px;
        line-height: 80px;
    }
}
#tofacebook{
    width: 40px;
    height: 110px;
    background-color: rgb(252, 150, 167);
    background-image: url('https://i.ibb.co/Wn8FxKc/tagfb.png');
    background-size: 40px;
    border-radius: 5px 0 0 5px;

    position: fixed;
    top: 50vh;
    right: 0;
    z-index: 100;

    transition: 0.5s;

    &:hover{
        width: 43px;
        background-color: rgb(66, 103, 178);
    
        box-shadow: 3px 1px 20px 8px rgba(95, 94, 94, 0.5);
    }
}

.container{
    @include container();
    @media (max-width: 1280px){
        width: 1140px;
    }
    @media (max-width: 1140px){
        width: 960px;
    }
    @media (max-width: 960px){
        width: 100%;
    }
}
.sec-title{
    @include sec-title();
}    
.content-tilte{
    @include content-tilte();
}
.content-subtitle{
    @include content-subtitle();
}

/* Logo */
#header{
    .container{
        background-color: $pink_alpha;
        #logoPic{
            width: 300px;
            height: 100px;
            /* background-color: rgb(192, 107, 47); */
            background-image: url('https://i.ibb.co/n17kdSq/logo.png');
            background-size: cover;
        }
    }
}
/* Banner */
#banner{
    width: 100%;
    height: 450px;
    background-color: cornflowerblue;
    background-image: url('https://miro.medium.com/max/2600/1*QObYvF65CI0KnfQo7RLazg.jpeg');
    background-size: cover;
}
/* Nav */
#nav{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    .container{
        #btn-group{
            width: 100%;
            height: 100%;
            background-color: rgba(255, 192, 203, 0.95);
        
            display: flex;
            align-items: center;
            justify-content: space-around;
            .btn{
                display: block;
                width: 10%;
                height: 80%;
                background-color: rgba(255, 255, 255, 0.5);
            
                border-radius: 5px;
                font-weight: bold;
                text-align: center;
                line-height: 40px;
            
                transition: 0.5s;
                &:hover{
                    font-size: 20px;
                    color: rgb(243, 146, 162);;
                }
            }
        }
    }
}
/* main */
#main{
    width: 100%;
    min-height: 1200px;
    #section1{
        width: 100%;
        min-height: 300px;
        margin-bottom: 10px;
        margin-top: 10px;
        @media (max-width: 1140px){
            min-height: 360px;
        }
        @extend .position-r;
        #sec1-img{
            width: 100%;
            height: 100%;
            background-image: url('https://i.ibb.co/t43BjWC/sakura.jpg');
            background-size: contain;
            background-color: white;
        
            position: absolute;
            top: 0;
            left: 0;
            @media (max-width: 960px){
                height: 200px;
                position: static;
            }
        }
        #sec1-textarea{
            position: absolute;
            top: 10px;
            left: calc( 50% - 640px);
            @media (max-width: 1280px){
                left: calc( 50% - 570px);
            }
            @media (max-width: 1140px){
                left: calc( 50% - 480px);
            }
            @media (max-width: 960px){
                left: calc( 50% - 480px);
                
                position: static;
                background-color: rgba(255, 192, 203, 0.8) ;
                padding-bottom: 5px;
            }
        }
        #sec1-text{
            padding: 0 10px;
        }  
    }
    #section2{
        margin-bottom: 20px;
        .container{
            #sec2-contentarea{
                width: 100%;
                min-height: 300px;            
                margin-top: 5px;
                display: flex;
                justify-content: space-around ;
                @media (max-width: 960px){
                    flex-direction: column;
                    align-items: center;
                }
                .sec2-content{
                    width: 20%;
                    height: 300px;
                    background-color: rgba(255, 192, 203, 1);
                    box-shadow: 5px 5px 10px 2px rgb(177, 91, 119);
                    overflow: hidden;
                    &:hover .sec2-content-textarea{
                        top: 0;
                        background-color: rgba(255, 192, 203, 1);
                    }
                    @media (max-width: 960px){
                        width: 80%;
                        height: 500px;
                        margin-bottom: 25px;

                        &:nth-child(3){
                            margin-bottom: 5px;
                        }
                    }
                    @extend .position-r;
                    .sec2-content-img{
                        width: 100%;
                        height: 250px;
                        background-color: lightseagreen;
                        background-size: cover;
                        transition: 0.5s;
                        &:hover{
                            opacity: 0.6;
                        }
                        @media (max-width: 960px){
                            height: 350px;
                        }
                    }
                    #sec2-img1{
                        background-image: url('https://p2.bahamut.com.tw/HOME/creationCover/39/0002839339_B.JPG');
                    }
                    #sec2-img2{
                        background-image: url('https://pic.pimg.tw/minerva01/1450603676-439161513_n.jpg');
                    }
                    #sec2-img3{
                        background-image: url('https://pic.pimg.tw/minerva01/1450603730-1112232061_wn.jpg');
                        
                    }
                    .sec2-content-textarea{
                        width: 100%;
                        min-height: 150px;
                        background-color: rgba(255, 192, 203, 0.8);
                        padding: 8px;
                        position: absolute;
                        top: 83%;
                        transition: 1s;
                        @media (max-width: 960px){
                            position: static;
                        }
                        .content-tilte{
                            font-weight: bolder;
                            font-size: 18px;
                            color: rgb(167, 60, 60);
                            text-align: center;  
                        }
                    }
                }
            }
        }  
    }
    #section3{
        width: 100%;
        height: 500px;
        background-color: lightslategray;
        background-image: url('https://pics.filmaffinity.com/The_Last_Samurai-480695590-large.jpg');
        background-size: cover;
        background-attachment: fixed;
        color: white;
        margin-bottom: 10px;
        @extend .position-r;   
    }
    #section4{
        margin-bottom: 10px;
        @extend .position-r;
        #sec4-contentarea{
            width: 100%;
            display: flex;
            justify-content: center ;
            @media (max-width: 960px){
                flex-direction: column;
                align-items: center;
            }
            .sec4-content{
                width: 50%;
                padding: 150px 120px;

                &:nth-child(1){
                    background-image: url('https://i.ibb.co/9VtyMNx/bg01.png');
                    background-size: cover;
                }
                &:nth-child(2){
                    background-image: url('https://i.ibb.co/gV8zwb9/bg02.png');
                    background-size: cover;
                }

                @media (max-width: 1280px){
                    padding: 120px 120px;
                }
                @media (max-width: 1140px){
                    padding: 80px 120px;
                }
                @media (max-width: 960px){
                    width: 100%;
                    padding: 50px 80px;
                }
            }
        }    
    }
    #section5{
        @extend .position-r;
        .container{
            #video{
                width: 100%;
                height: 50vw;
                @extend .position-r;
                #trailer{
                    width: 95%;
                    height: 95%;
                
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);            
                }
            }
            
        } 
    }

}
/* footer */
#footerbar{
    background-color: rgba(255, 192, 203, 0.8);
    height: 50px;

    text-align: center;
    line-height: 50px;
}