/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: arial, sans-serif;
  font-size: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  display: block;
  color: unset;
  text-decoration: none;
}

.position-r {
  position: relative;
}

.position-ab {
  position: absolute;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h2, .h2 {
  font-size: 2.1rem;
}

h3, .h3 {
  font-size: 0.8rem;
}

.text-light {
  color: #7D8383;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex-col-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-cover-center {
  background-size: cover;
  background-position: center center;
}

.mr-50 {
  margin-right: 50px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-15 {
  margin-bottom: 15px;
}

nav {
  height: 900px;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_title {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 120px;
}

.nav_menu {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #222222;
  text-shadow: 1px 1px 8px #50504f;
  margin-bottom: 250px;
}

.nav_menu .nav_menu-item:hover {
  color: white;
}

.nav_memo {
  font-size: 2.5rem;
  line-height: 3.25rem;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.gallery .col {
  width: 100%;
}

.gallery .gallery_img {
  height: 600px;
  color: white;
}

.gallery .gallery_box {
  border: 5px solid #000;
  height: 350px;
  line-height: 1.5rem;
}

.gallery .gallery_title {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.gallery .gallery_content {
  font-size: 2rem;
  margin-bottom: 40px;
}

.gallery .gallery_btn {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border: 1px solid white;
}

.gallery .gallery_btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.cards {
  margin-bottom: 80px;
}

.cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ccc;
}

.cards .card .card_img {
  width: 50%;
  height: 400px;
}

.cards .card .card_content {
  width: 50%;
  padding: 36px;
}

.cards .card .card_content .card_body {
  border-bottom: 1px solid #ccc;
  padding-bottom: 60px;
  margin-bottom: 30px;
}

.cards .card .card_content .card_body p {
  line-height: 1.7rem;
}

.cards .card .card_content .card_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.cards .card .card_content .card_footer a:hover {
  color: #000;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}
/*# sourceMappingURL=all.css.map */